:host {
    display: flex;
    position: relative;
}

.pause {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-family: monospace;
}

.text-green {
    color: green;
}
